*~
aclocal.m4
autom4te.cache/
ChangeLog
config
config.log
config.status
configure
*.gmo
*.gschema.valid
*.gschema.xml
m4
Makefile
Makefile.in
Makefile.in.in
metadata.json
po/POTFILES
po/stamp-it
staging/
